@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.texto-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin: 20px 0 -160px 0;
  background-color: #013e59;
  color: #fff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.texto-principal h1 {
  font-size: 3.5rem;
  padding: 30px 0 20px 0;
}

.texto-principal p {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  width: 80%;
  background: #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slides {
  width: 280px;
  height: 580px;
  transform: translateX(-50%);
  background: var(--pic);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translateY(0);
}

.slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
  opacity: 0;

}

.slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
  opacity: 0;

}

.slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
  opacity: 0;
}

.slider .slides:nth-child(6) {
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
} 

.buttons {
  position: relative;
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 20px;
  margin-top: 700px;
  /* left: 50%; */
}

.buttons span {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #111;
}

.buttons span::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}

.buttons span:active {
  opacity: 0.5;
}

.content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.slides h2 {
  -webkit-text-stroke: 3px black;
  font-size: 4rem;
  color: #fff;
}


.slides p {
  width: 70%;
  font-size: 1.4rem;
  color: #fff;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
}

.slider .slides:nth-child(1) .content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}