.title-container h1 {
    color: rgb(238, 241, 241);
}

.title-container {
    padding: 20px;
    background-color: rgb(8, 46, 53);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container img {
    width: 30rem;
}

.subtitle {
    text-align: center;
    font-size: 20pt;
}

.container-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    text-align: center;
    width: 20rem;
    margin: 1rem;
}

.gallery-item img {
    width: 100%;
    height: auto;
}